.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h5 {
  font-weight: 900;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

.list_item:hover {
  background-color: #f5f7fa;
}

.navbar {
  margin-bottom: 24px;
}

.media:hover {
  background-color: #f5f7fa;
  cursor: pointer;
}

.category, .name {
  color: #bf0016;
}

.avatar {
  border-radius: 50%;
  margin-right: 8px;
}

.post_info {
  margin: 16px 0 32px 0;
}

.post_image {
  margin-bottom: 32px;
}

.share_button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}